@font-face
    font-family 'ALSFuchsia'
    src url('/fonts/alsfuchsia.otf')
    font-style normal
    font-weight normal
html
	font-family sans-serif
	font-size 19px
	line-height 32px
	color #333
h1
	margin-bottom 28px
	font-size 38px
	line-height 46px
	text-align center
	color #000
	@media screen and (min-width 600px)
		font-size 72px
		line-height 84px
h2
	margin-bottom 24px
	font-size 32px
	color #000
h3
	margin-bottom 20px
	font-size 24px
	color #000
a[ng-click]
	cursor pointer
	color #4283c0
	&:hover
	&:focus
		text-decoration underline
	&.link-disabled
		cursor default
strong
	font-weight normal
	color #fc5454
u
	color #4285be
img
	max-width 100%
p
	margin-bottom 30px
ul.list-dashed
	margin-bottom 30px
	margin-left 12px
	@media screen and (min-width 768px)
		margin-left 0
	li
		position relative
		padding-left 12px
		&::before
			content '—'
			position absolute
			left -12px
header
footer
section
	display flex
	justify-content center
	padding 0 10px
.container
	flex 0 1 1200px
.button
	cursor pointer
	display block
	text-align center
	text-decoration none
	background-color transparent
	border none
	border-radius 10px
	&:focus
		outline none
	&:hover
		text-decoration none
a.button:hover
		text-decoration none