include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	body(ng-app='fbbApp' )
		div(ng-controller='FfbMainCtrl')
			include ../header/header
			block content
			include ../footer/footer
	+scripts(['angular.min.js'])
	+scripts(['app.js'])
	+scripts(['controllers.js'])
	+scripts(['script.js'])