.about-page__inner
	display flex
	flex-direction column
	align-items center
	p
		width 100%
		max-width 640px
		&.about-main
			margin-bottom 40px
			max-width 880px
			font-size 24px
			text-align center
	h2
	h3
	ul.list-dashed
		width 100%
		max-width 640px
.about-staff
	display flex
	flex-wrap wrap
	justify-content space-around
	align-items flex-end
	margin-bottom 60px
	max-width 300px
	@media screen and (min-width 600px)
		max-width 450px
	@media screen and (min-width 1024px)
		max-width 100%
		width 100%
	&__item
		img
			max-width 125px
.about-incut
	margin 0 10px 30px
	padding 30px 26px
	width 100%
	max-width 880px
	font-family 'ALSFuchsia'
	font-size 28px
	line-height 42px
	text-align center
	border-top 2px solid #7d7d7d
	border-bottom 2px solid #7d7d7d
	@media screen and (min-width 1024px)
		padding 50px 26px
		margin 20px 0 50px
		font-size 36px
		line-height 54px