section.main-page(ng-show='pageShow.mainPageShow')
	.container
		h1 Самое незаметное издательство
		.main-page__inner
			ul.book-list(ng-hide='search')
				li.book-list__item(ng-repeat='book in books | limitTo:quantity ')
					figure
						a(ng-click='bookPageShow(book.id)')
							img(ng-src='{{book.cover.small}}')
						figcaption(ng-bind-html='$sce.trustAsHtml(book.info)')
		
			.books-more(ng-hide='search')
				button.button.books-more__button(ng-show='booksMoreButtonShow' ng-click='bookListLoadMore()') Ещё несколько книг
			ul.book-list(ng-show='search')
				li.book-list__item(ng-repeat='book in books | filter:search')
					figure
						a(ng-click='bookPageShow(book.id)')
							img(ng-src='{{book.cover.small}}')
						figcaption(ng-bind-html='$sce.trustAsHtml(book.info)')