.main-page__inner
	display flex
	justify-content center
	flex-wrap wrap
.book-list
	display flex
	flex-wrap wrap
	justify-content center
	@media screen and (min-width 600px)
		flex-basis 620px
	@media screen and (min-width 1024px)
		flex-basis auto
	&__item
		flex 0 1 280px
		margin 20px 10px 40px
		@media screen and (min-width 1024px)
			flex 0 1 231px
		@media screen and (min-width 1200px)
			flex 0 1 280px
		figure
			display flex
			flex-direction column
			align-items center
		figcaption
			text-align center
		&:hover u
			color #e51907
.books-more
	flex 0 0 100%
	display flex
	justify-content center
	margin-bottom 70px
	&__button
		flex 0 0 300px
		padding 6px 0
		font-size 17px
		line-height 28px
		color #4285be
		border 2px solid #96c2e4
		border-radius 6px
		transition color .2s, border-color .2s
		&:hover
			color #e51907
			border-color #e51907