.footer__inner
	display flex
	justify-content center
.about-link
	background url('/images/footer.png') no-repeat
	background-size contain
	flex 0 1 300px
	width 300px
	height 193px
	span
		display none