.order-form
	margin-bottom 60px
	&__inner
		display flex
		flex-wrap wrap
		margin-bottom 40px
	&__rows
		flex-basis 100%
		@media screen and (min-width 768px)
			flex-basis calc(100% / 3 * 2)
	&__row
		display flex
		flex-wrap wrap
		@media screen and (min-width 768px)
			justify-content space-between
			flex-wrap nowrap
	&__block
		flex-basis 300px
		display flex
		flex-direction column
		align-items center
		@media screen and (min-width 768px)
			margin-right 20px
			flex-basis 50%
	&__input
		display flex
		flex-direction column
		width 100%
		max-width 300px
		input
			&[type='text']
			&[type='tel']
			&[type='email']
				margin-bottom 15px
				padding 5px 5px 6px
				width 100%
				max-width 300px
				border 1px solid #ccc
				border-radius 12px
				box-shadow inset 0 0 2px #ccc
				&:focus
					box-shadow 0 0 2px #815683
					outline none
		label
			display block
	&__input-radio
		width 100%
		max-width 300px
	&__comment
		display flex
		flex-direction column
		width 100%
		max-width 300px
		height 100%
		textarea
			flex-grow 1
			margin-bottom 15px
			padding 5px 5px 6px
			width 100%
			max-width 300px
			border 1px solid #ccc
			border-radius 12px
			box-shadow inset 0 0 2px #ccc
			resize none
			&:focus
				box-shadow 0 0 2px #815683
				outline none
.book-order
	&__image
		flex 0 1 300px
		display flex
		justify-content center
		align-items flex-start
		@media screen and (min-width 768px)
			flex-basis calc(100% / 3)
		img
			max-width 300px
	&__buy
		display flex
		flex-direction column
		align-items center
	&__total
		font-size 24px
	&__button
		padding 24px 34px
		font-size 24px
		line-height 28px
		color #fff
		background-color #815683
		background linear-gradient(#623a64, #865888)
		box-shadow 0 10px 20px #382539, 0 2px 5px #000
		&:hover
		&:focus
			background linear-gradient(#c28dc5, #49274b)
		&:active
			background linear-gradient(#623a64, #865888)
			box-shadow 0 3px 5px #382539, 0 1px 2px #000
		&:disabled
			cursor default
			background #aaa
			box-shadow 0 3px 5px #777, 0 1px 2px #000