.book-order(ng-show='pageShow.orderPageShow')
	p.book-order__title Оформить заказ на книгу 
		a(ng-click='orderPage()') {{bookCurrent.title}}
	form.order-form(name='orderForm' novalidate ng-hide='orderResult')
		.order-form__inner
			.order-form__rows
				.order-form__row
					.order-form__block
						.order-form__input
							label(for='order-form__name') Имя
							input(type='text' placeholder='Имя' ng-model='order.name' required)#order-form__name
						.order-form__input
							label(for='order-form__phone') Телефон
							input(type='tel' placeholder='Телефон' ng-model='order.phone' required)#order-form__phone
						.order-form__input
							label(for='order-form__email') Эл. почта
							input(type='email' placeholder='Электронная почта' ng-model='order.email' required)#order-form__email
					.order-form__block
						.order-form__comment
							label(for='order-form__comment') Комментарий к заказу
							textarea( ng-model='order.comment' required)
				.order-form__row
					.order-form__block
						p Способ доставки {{deliveryAvailable}}
						.order-form__input-radio(ng-repeat='method in deliveryMethods')
							input(type='radio' name='delivery' id='order-form__{{method.id}}' value='{{method.id}}' ng-click='deliverySwitch(method)' ng-model='order.delivery.id' required)
							label(for='order-form__{{method.id}}') {{method.name}}
						.order-form__input(ng-show='showAddress')
							label(for='order-form__address') Адрес доставки
							input(type='text' placeholder='Адрес доставки' ng-required="showAddress" ng-model='order.delivery.address' required)#order-form__address
					.order-form__block
						p Способ оплаты 
						.order-form__input-radio(ng-repeat='method in paymentMethods')
							input(type='radio' name='payment' id='order-form__{{method.id}}' value='{{method.id}}' ng-model='order.payment.id' required)
							label(for='order-form__{{method.id}}') {{method.title}} 
			.book-order__image
				img(ng-src='{{bookCurrent.cover.large}}' alt='')
		.book-order__buy
			p.book-order__total Итого к оплате: {{totalPrice}} Z
			input(type='submit' ng-click='addOrder(order)' ng-disabled='orderForm.$invalid' value='Оформить заказ').button.book-order__button
	include ../page-book-response/page-book-response