.order-response(ng-show='orderResult')
	.order-response__success(ng-show='orderResultSuccess')
		p.book-response Заказ на книгу успешно оформлен.
		p.book-response Спасибо, что спасли книгу от сожжения в печи.
	.order-response__error(ng-show='orderResultError')
		p.book-response Ой. Что-то пошло не так.
		p.book-response Попробуйте вернуться на 
			a(ng-click='orderResult = !orderResult') страницу оформления заказа
			|  и перезаказать заказ. Извините.