section.book-page(ng-show='pageShow.bookPageShow')
	.container
		h1 {{bookCurrent.title}}
		.book-page__inner(ng-hide='pageShow.orderPageShow')
			.book-page__inner-block.book-detail
				.book-detail__image
					img(ng-src='{{bookCurrent.cover.large}}')
					.book-detail__eye
						.book-detail__pupil#book-detail__pupil
				.book-detail__descr(ng-bind-html='$sce.trustAsHtml(bookCurrent.description)')
			.book-page__inner-block.book-side-block.book-reviews
				figure.book-side-block__item(ng-repeat='review in bookCurrent.reviews | limitTo:2')
					img(ng-src='{{review.author.pic}}' alt='{{review.author.name}}')
					figcaption
						q(ng-bind-html='$sce.trustAsHtml(review.cite)')
			.book-page__inner-block.book-side-block.book-features
				figure.book-side-block__item(ng-repeat='feature in bookCurrent.features | limitTo:2')
					img(ng-src='{{feature.pic}}' alt='')
					figcaption(ng-bind-html='$sce.trustAsHtml(feature.title)')
		.book-buy(ng-hide='pageShow.orderPageShow')
			a(ng-click='orderPage()').button.book-buy__button Купить за жалкие {{bookCurrent.price}} Z
			p.book-buy__clarification Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
			img(src='/images/staff/scruffy.png' alt='').book-buy__scruffy
		include ../page-book-order/page-book-order