@keyframes upper-eyelid {
	80% {
		transform translateY(0)
	}
	100% {
		transform translateY(65px)
	}
}
@keyframes lower-eyelid {
	80% {
		transform translateY(0)
	}
	100% {
		transform translateY(-65px)
	}
}
.book-page
	&__inner
		display flex
		flex-direction column
		align-items center
		@media screen and (min-width 1024px)
			flex-direction row
			justify-content space-between
			.book-detail
				order 2
			.book-reviews
				order 1
			.book-features
				order 3
			.book-buy
				order 4
	.book-detail
		display flex
		flex-direction column
		align-items center
		margin-bottom 60px
		@media screen and (min-width 1024px)
			flex 0 1 420px
		&__image
			position relative
			margin-bottom 40px
			padding 0 10px
		&__descr
			font-size 24px
			line-height 34px
			text-align center
		&__eye
			position absolute
			top 50%
			left 50%
			display flex
			justify-content center
			align-items center
			transform translateX(-50%)
			width 140px
			height 140px
			background-color #fff
			border 5px solid #000
			border-radius 100px
			overflow hidden
			&::before
				content ''
				position absolute
				left 0
				top -140px
				width 140px
				height 140px
				background-color #000
				animation-name upper-eyelid
				animation-duration 5s
				animation-iteration-count infinite
				animation-direction alternate
			&::after
				content ''
				position absolute
				left 0
				bottom -140px
				width 140px
				height 140px
				background-color #000
				animation-name lower-eyelid
				animation-duration 5s
				animation-iteration-count infinite
				animation-direction alternate
		&__pupil
			width 30px
			height 30px
			border-radius 15px
			background-color #000
			transition transform .2s
			transform translateX()
	.book-side-block
		display flex
		flex-direction column
		align-self stretch
		@media screen and (min-width 768px)
			flex-direction row
			align-items flex-end
		@media screen and (min-width 1024px)
			flex 0 1 340px
			flex-direction column
			align-items center
			justify-content flex-start
		&__item
			display flex
			flex-direction column
			align-items center
			justify-content flex-end
			margin-bottom 60px
			@media screen and (min-width 768px)
				margin-left 26px
				margin-right 26px
			@media screen and (min-width 1024px)
				flex-basis 280px
			img
				margin-bottom 25px
			figcaption
				font-size 24px
				text-align center
				@media screen and (min-width 1024px)
					font-size 21px
				q
					position relative
					display block
					padding 0 26px
					&::before
						content '«'
						position absolute
						left 0
						top -6px
						font-size 48px
					&::after
						content '»'
						position absolute
						bottom 0
						right 0
						font-size 48px
	.book-buy
		margin-bottom 80px
		flex 1 1 100%
		display flex
		flex-direction column
		align-items center
		&__button
			margin-bottom 30px
			padding 24px 34px
			font-size 32px
			line-height 38px
			color #fff
			background-color #815683
			background linear-gradient(#623a64, #865888)
			box-shadow 0 10px 20px #382539, 0 2px 5px #000
			&:hover
			&:focus
				background linear-gradient(#c28dc5, #49274b)
			&:active
				background linear-gradient(#623a64, #865888)
				box-shadow 0 3px 5px #382539, 0 1px 2px #000
		&__clarification
			margin-bottom 10px
			max-width 420px
			font-size 15px
			font-style italic
			line-height 19px
			text-align center
			color #dcdcdc
		&__scruffy
			display block
			width 70px