.header
	margin-top 40px
	margin-bottom 32px
	&__inner
		display flex
		flex-wrap wrap
		justify-content center
		@media screen and (min-width 600px)
			flex-wrap nowrap
			justify-content space-between
	&__logo
		display block
		margin-bottom 40px
		flex 0 1 300px
		height 36px
		background url('/images/logo.png') no-repeat
		background-size contain
		@media screen and (min-width 600px)
			margin-right 40px
		span
			display none
	&__searchbar
		flex-basis 300px
		input
			padding 5px 5px 6px 32px
			width 100%
			font-size 15px
			background url('/images/search.png') no-repeat 7px
			border 1px solid #ccc
			border-radius 12px
			box-shadow inset 0 0 2px #ccc
			&:focus
				box-shadow 0 0 2px #815683
				outline none