header.header
	.container
		.header__inner
			a(ng-click='mainPageShow()' ng-class='{"link-disabled":pageShow.mainPageShow}').header__logo
				span на главную
			.header__searchbar(ng-show='pageShow.mainPageShow')
				input(type='search' placeholder='поиск, скорее всего, не работает' ng-model='search.title' )